{{#each this}}
<div class="card mb-2">
    <div class="card-body">
        <h4 class="card-title">Owner Name</h5>
        <h5 class="card-subtitle mb-2 text-muted">Visit: Walk</h6>
        <h5 class="card-text">Pay: $35</h5>
        <h6 class="card-text text-muted">Time: 4/6/2022 at 3:00pm</h6>
        <h6 class="card-text text-muted">Location: 1234 Big Dog Ct, Raleigh, NC, 27103</h6>
    </div>
</div>
{{/each}}

{{!-- {{#each job}}
<div class="card mb-2">
    <div class="card-body">
        <h4 class="card-title">{{ owner.first_name }}</h5>
        <h5 class="card-subtitle mb-2 text-muted">Visit: {{ job.type }}</h6>
        <h5 class="card-text">Pay: {{ job.pay }}</h5>
        <h6 class="card-text text-muted">Time: {{ job.timeframe }}</h6>
        <h6 class="card-text text-muted">Location: {{ job.location }}</h6>
    </div>
</div>
{{/each}} --}}
